.container{
    background-color: #d3d3d3;
    padding:0px 0px 10px;
    width: 300px;
    margin: 25px 0 70px;
    border-radius: 20px;
    overflow:hidden;
    box-shadow: 5px 5px 10px rgb(106, 106, 106);
}
.container img{
    width: 300px;
    height: 200px;
}
.container2 {
    padding: 10px 20px;
    /* height: 190px; */
}
.container2 p{
    padding: 5px;
    margin: 10px;
    background-color: rgb(22, 168, 17);
    width: fit-content;
    border-radius: 5px;
    color: #fff;
}
.container2 h3{
    padding: 5px;
    font-size: 1.5rem;
}
.counter{
    display: flex;
    border-top: 1px solid silver;
    align-items: center;
}
.counter img{
    width: 23px;
    margin: 20px;
    cursor: pointer;
    height: fit-content;
}
.counter span{
    background-color: #2f6eb2;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}
.deactive{
    opacity: 0.3;
}